<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>imgVerse</title>
  <link rel="stylesheet" href="css/login.css">

</head>
<body>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h2><center>Welcome To ImgVerse World!.</center></h2>
		<p><center>Keep it close Keep it in ImgVerse</center></p> 
		<span>
			<p>Connect With Us </p>
			<center><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></center>
			<center><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></center>
		</span>
		</div>
	</div>
	
	
	<form action="/home" method="POST">
		<div class="right">
		<h5>LogIn</h5>
		<p>Don't have an account? <a href="/signup">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" name="user" placeholder="user name">
			<br>
			<input type="password" name="pass" placeholder="password">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
	
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget <a href="/forgot-passwd">password?</a></p>
		</div>
			
			<br>
			<!-- <button>Login</button> -->
			<input type="submit" value="Login">
		</div>
		</form>
		
	
</div>
<!-- partial -->
  
</body>
</html>
