<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/photos.css">
    <title>Gallery</title>
</head>
<body>
    <ul>
    <% for(let pic of pics){ %>
    <li>
        <img src="img/<%= pic %>" height="100%" width="100%" alt="Can't load" class="img_box" width="500" height="600">
    </li>

    <% } %>

    </ul>
    <div>   
        <% let nums = Math.ceil(total/30) %>
        <% for(let i=1;i<=nums;i++){ %>
            <span>
                <a href="pages/<%= i %>" onclick="getPage(<%= i %>)"><%= i %></a>
            </span>
        <% } %>
    </div>
</body>
</html>